<div class="about-me-title">
    I code, I mountainbike<br />and I like my couch
</div>
<div class="row about-me-text">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <p>
            My name is Christian, I develop software in Denmark mostly on the .NET stack. I like the backend and good architecture. I favor web development over windows clients, but the lines are blurring and the future looks bright.
        </p>
        <p>
            I was born in '82 and have been doing software development since the late nineties. In '06 I was done with my education and have been doing .NET development as a living since then.
        </p>
        <p>
            I have multiple bikes stashed around my apartment, the mountainbike is in the forest multiple times each week during the summer. At least that is the goal. When time is tight the road bike comes down from the windowsill.
        </p>
        <p>
            My Netflix subscription and Nexus Player are heavily used.
        </p>
    </div>
</div>