@{
    ViewData["Title"] = "sparre.io";
}
<section class="section is-small">
    <div class="container">


        <div class="box no-radius">
            <h2 class="title is-marginless">Latest posts</h2>
        </div>
    </div>
</section>

