html {
    background: url(/images/background4.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


body {
    margin: 0;
    font-family: 'Open sans', sans-serif;
    background: none;
}

.clearfix {
    overflow: auto;
    zoom: 1;
}

header {
    background-color: #fff;
    height: 90px;
}

    header .title {
        margin: 0 0 0 20px;
        float: left;
    }

        header .title h1 {
            font-weight: 600;
            font-size: 30pt;
            color: #000000;
        }

            header .title h1 span {
                color: rgb(145, 145, 145);
            }

            header .title h1 a {
                color: #000000;
                text-decoration: none;
                margin-left: 20px;
            }


    header .menu {
        float: right;
        margin: 30px 20px 0 0;
    }

        header .menu a {
            font-size: 16pt;
            color: rgb(130, 130, 130);
            text-decoration: none;
        }

            header .menu a:hover {
                color: rgb(0, 0, 0);
            }

            header .menu a .atmedium {
                color: rgb(166, 166, 166);
                font-size: 10pt;
            }
            header .menu a .atmedium:hover {
               color: rgb(0, 0, 0);
            }

.about-me-title {
    color: white;
    font-size: 40pt;
    font-weight: 600;
    margin: 20px 0 0 0;
    text-align: center;
}

.about-me-text {
    margin: 20px 0;
    color: white;
    font-size: 1.2em;
}

.contact-social {
    margin: 20px 0;
    font-size: 40pt;
}

.contact-social a {
    color: white;
}

.get-hold-of-me {
    color: white;
    font-size: 2em;
}