<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,400italic,600|Droid+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/styles.css" rel="stylesheet" />
    <title>sparre.io</title>
</head>
<body>
    <header>
        <div class="container">
            <div class="title">
                <h1>
                    <a href="/">sparre.<span>io</span></a>
                </h1>
            </div>
            <div class="menu">
                <a href="http://medium.com/@@christiansparre" target="_blank">Blog <span class="atmedium">@@ medium</span></a>
            </div>
            <div class="clearfix"></div>
        </div>
    </header>

    <div class="container">
        @RenderBody()
    </div>
    <div class="container">
        <div class="row about-me-text">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <p class="get-hold-of-me">
                    If you want to get hold of me
                </p>
                <p class="contact-social">
                    <a href="https://www.facebook.com/christian.sparre" target="_blank"><i class="fa fa-facebook-square"></i></a>
                    <a href="https://twitter.com/slyngelstat" target="_blank"><i class="fa fa-twitter-square"></i></a>
                    <a href="https://www.linkedin.com/in/christiansparre" target="_blank"><i class="fa fa-linkedin-square"></i></a>
                    <a href="https://github.com/christiansparre" target="_blank"><i class="fa fa-github"></i></a>
                    <a href="http://instagram.com/slyngelstat/" target="_blank"><i class="fa fa-instagram"></i></a>
                </p>
            </div>
        </div>
    </div>
</body>
</html>