@{
    ViewBag.Title = "Contact";
    Layout = "_Layout";
}

<h2>Contact me</h2>
<p>
    If you want to get in contact, check out the social media icons at the top. That's probably the easiest...
</p>
