@model IEnumerable<Sparreio.Website.Features.Blog.ParsedPostModel>
@{
    ViewData["Title"] = "sparre.io - blog";
}
<section class="section is-small">
    <div class="container">
        <div class="box no-radius">
            <div class="content">
                Posts tagged with <strong>@ViewBag.Tag</strong>
            </div>
        </div>


        @foreach (var p in Model)
        {
            <partial name="PostListPartial.cshtml" model="@p" />
        }
    </div>
</section>