@using System
@using sparreio.website.ViewModels.Admin.Posts
@model CreatePostViewModel

@{
    ViewBag.Title = "Create post";
    Layout = "_Layout";
}

<h2>Create post</h2>

<form asp-action="CreatePost" asp-controller="Admin" method="post">
    <div>
        <label asp-for="Title"></label>
        <input asp-for="Title" type="text" />
    </div>
    <div>
        <label asp-for="PublishedUtc"></label>
        <input asp-for="PublishedUtc" type="datetime-local" step="1" value="@DateTime.UtcNow.ToString("s")" />
    </div>
    <div>
        <label asp-for="Tags"></label>
        <input asp-for="Tags" type="text" />
    </div>
    <div>
        <label asp-for="Content"></label>
        <textarea asp-for="Content" cols="20" rows="10"></textarea>
    </div>
    <div>
        <input type="submit" value="Create" />
    </div>
</form>