html {
    height: 100%;
}

a.navbar-item:hover, a:hover {
    color: #00900c !important;
}

h1.title, h2.title {
    font-family: 'Montserrat', sans-serif;
}

.main-content {
    height: 100%;
}

.section.is-small {
    padding: 1.5rem 1.5rem;
}

.box.no-radius {
    border-radius: 0px;
}

.navbar {
    font-family: 'Montserrat', sans-serif;
}

    .navbar.with-shadow {
        box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    }
